
<section class="notepad">
  <div class="clips">
    <div></div>
    <div></div>
  </div>
  <ul class="inbox">
    <li>
      <input class="toggle" type="checkbox" disabled aria-disabled="true">
      <div><input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"></div>
    </li>
    <li *ngFor="let todo of todos" [class.completed]="todo.complete">
      <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
      <p>{{todo.title}}</p>
      <button class="destroy" (click)="removeTodo(todo)"></button>
    </li>
    <li *ngIf="todos.length > 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </li>
  </ul>
</section>
