.notepad {
  padding: 15px 10px;
  margin: 30px;
  min-height: 80vh;
  min-width: 60vh;
  background-color: rgba(216,45,26,1.0);
  background-clip: border-box;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.26), inset 0px 0px 0px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.26), inset 0px 0px 0px 2px rgba(0,0,0,0.16);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.26), inset 0px 0px 0px 2px rgba(0,0,0,0.16);

}

.clips {
  width: 80%;
  position: relative;
  top: 53px;
  left: 50%;
  margin-left: -40%;
  z-index: 10;
}
.clips div {
  width: 85px;
  height: 15px;
  position: absolute;
  border-radius: 7px;
  background: #ddd;
}
.clips div::after {
  content: ' ';
  display: block;
  width: 26px;
  height: 26px;
  background: rgba(0,0,0,0.66);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -14px;
  z-index: -2;
}
.clips div::before {
  content: ' ';
  display: block;
  height: 15px;
  width: 10px;
  background: rgba(0,0,0,0.60);
  position: relative;
  left: 50%;
  margin-left: -5px;
  z-index: 10;
}
.clips div:first-child {
  left: 14%;
}
.clips div:last-child {
  right: 14%;
}
.inbox {
  list-style: none;
  padding: 0;
  margin: 30px;
  min-height: 90%;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.26);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.26);

}
.inbox li {
  border: 1px solid rgba(0,0,0,0.10);
  color: rgba(0,0,0,0.64);
  border-bottom: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.inbox li:last-child {
  border-radius: 0 0 5px 5px;
}
.inbox li *:nth-child(2) {
  flex-grow: 2;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 15px;
  border: 0;
  border-left: 1px solid rgba(56,189,232,0.70);;
  height: 100%;
}
.inbox input {
  border: 0;
  padding: 5px;
  margin: 0 !important;
}
.toggle {
  margin: 15px !important;
}
.todo-count {
  margin: 15px 5px;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
}
.inbox::before {
  content: ' ';
  display: list-item;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0,0,0,0.10);
  color: rgba(0,0,0,0.64);
  border-bottom: 0px;
  height: 55px;
  width: 100%;
}
.inbox li input:checked + p {
  background: rgba(255,255,232,0.80);;
}

